/*
UI color variables.
*/
.overlay-container {
  position: fixed;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: calc(100% - 40px);
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.75);
  transition: opacity 0.5s, visibility 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: relative;
  width: 90%;
  height: 90%;
  max-width: calc(100% - (48px * 2));
  top: 100%;
  background-color: #101010;
  border: 1px solid #303030;
  transition: top 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.overlay-cancel-button {
  -webkit-app-region: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  background: transparent;
  border: none;
  position: absolute;
  top: 8;
  right: 8;
  border-radius: 100%;
  padding: 8px;
  /* &:not(.focus-visible) { // .focus-visible instead of :focus-visible because polyfill, not native support
		// remove focus ring on click, but not on tab
		outline: none;
	} */
  transition: background-color 0.25s, border-color 0.25s;
}
.overlay-cancel-button:hover {
  background-color: #404040;
  color: #000000;
  transition: background-color 0.25s, border-color 0.25s;
}
.overlay-cancel-button:active {
  color: #000000;
  background-color: #808080;
  border-color: #808080;
}
.overlay-cancel-button img {
  width: 16;
  height: 16;
}
.overlay-cancel-button:focus {
  outline: 1px dotted #808080;
}
