/*
Base styling for the entire app.
*/

@import "variables.less";

body {
	background-color: @basebg0;
}

* {
	box-sizing: border-box; /* because it makes sense! */
	font-family: Helvetica, sans-serif;
	color: @basetext0;
}

.button {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	font-size: 10pt;
	margin: 8px;
	padding: 6px;
	background: transparent;
	border: none;
	border-radius: 6px;
	transition: background-color 0.25s;
	
	-webkit-app-region: none;
	
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	white-space: nowrap;
	
	&:hover {
		border-radius: 6px;
		background-color: #404040;
		transition: background-color 0.25s;
	}
	&:active {
		background-color: #808080;
		border-color: #808080;
	}
	
	img {
		width: 24;
		height: 24;
		filter: brightness(calc(192/255)); /* #C0C0C0 */
		transition-duration: 0.25s;
	}
	span {
		margin: 0px;
		padding: 2px;
	}
	&:hover img, &:active img {
		/* filter: invert(100%); */
		filter: brightness(calc(240/255)); /* #F0F0F0 */
		transition-duration: 0.25s;
	}
	
	/* &:not(.focus-visible) { // .focus-visible instead of :focus-visible because polyfill, not native support
		// remove focus ring on click, but not on tab
		outline: none;
	} */
	&:focus {
		outline: 1px dotted @highlight1;
	}
}
.border-button {
	.button();
	border: 1px solid @basetext0;
	&:hover {
		background-color: @basebglight0;
		color: #000000;
		transition-duration: 0.25s;
	}
	&:active {
		color: #000000;
		background-color: #808080;
		border-color: #808080;
	}
}
.img-button {
	.button();
	padding: 4px;
	p {
		margin-left: 4px;
	}
}
.img-button-invert {
	.img-button();
	img {
		filter: invert(100%) brightness(calc(192/255)); /* #C0C0C0 */
	}
	&:hover img, &:active img {
		filter: invert(100%) brightness(calc(240/255)); /* #F0F0F0 */
		transition-duration: 0.25s;
	}
}

.color-button {
	border-radius: 0px;
	background-color: @boldcolor0;
	color: black;
	border: none;
	&:hover {
		border-radius: 0px;
		background-color: @boldhighlight0;
	}
	&:active {
		background-color: @boldhlclick0;
	}
}

.footer-text-field {
	// height: auto;
	font-size: 10pt;
	align-self: center;
	background-color: @basebg0;
	border: 1px solid @border1;
	padding: 4px;
	transition-duration: 0.25s;
	&:focus {
		outline: none; // handled by the background color
		background-color: @basebg2;
		transition-duration: 0.25s;
	}
}
