@import "variables.less";
@import "base.less";

.overlay-contents-container {
	height: 100%;
}

.overlay-title {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	margin: 8px;
	font-size: 12pt;
	flex: 0 0 auto;
	align-self: center;
}

.playlist-browser {
	background-color: @basebg1;
	margin: 0px 4px 0px 4px;
	padding: 0px;
	border: 2px solid @border0;
	overflow: scroll;
	flex: 0 1 100%;
}
.playlist-browser table {
	width: 100%;
	
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	border-spacing: 0px;
}
.playlist-browser tr {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	height: 40px;
	padding: 0px;
	&:hover {
		background-color: @highlight0;
	}
	td {
		// border: 1px solid @border2;
		display: flex;
		flex-direction: row;
		// justify-content: space-between;
		justify-content: flex-end;
		align-items: center;
		overflow: hidden; // hide inactive delete buttons off to the right
		button {
			flex: 0 0 auto;
		}
	}
	.playlist-buttons-slideout {
		position: relative;
		right: -100%;
		// display: none;
		visibility: hidden;
		transition-property: right, visibility;
		transition-duration: 0.25s;
	}
	&:hover .playlist-buttons-slideout {
		// display: block;
		visibility: visible;
		right: 0;
		transition-property: right, visibility;
		transition-duration: 0.25s;
	}
	.playlist-table-name {
		// flex: 1 0 100%;
		p {
			flex: 0 1 100%;
			margin: 8px 8px 8px 4px;
			padding: none;
		}
		width: 100%; // take up the entire available space
		padding: none;
	}
}

.new-playlist-mini-dialog {
	// width: 256px; // now in playlist-browser.js:showMiniSaveDialog()
	width: 0px;
	align-self: center;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
	padding: 0px;
	overflow: hidden;
	.footer-text-field {
		flex: 1 1 25%;
		width: 0px; // stretch to fill
		margin: 0px;
	}
	button {
		flex: 0 0 auto;
		// height: 25px;
		align-self: stretch;
		margin: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		border: 1px transparent;
	}
	
	position: relative;
	left: -128px;
	opacity: 0;
	visibility: hidden;
	transition: left 0.5s, opacity 0.5s, width 0.5s;
}

.playlist-buttons-slideout {
	margin: none;
	padding: 4px;
	// align-self: stretch;
	display: flex;
	flex-direction: row;
}

.delete-playlist-button {
	.img-button();
	margin: 0px;
	padding: 4px;
	img {
		padding: 0px;
		filter: grayscale(1.0) brightness(2.0);
		transition: filter 0.25s;
	}
	transition: 0.25s;
	&:hover {
		background: none;
		img {
			filter: none;
			transition: 0.25s;
		}
		transition: 0.25s;
	}
	&:active {
		background: none;
		outline: none; // handled by image highlight
		img {
			// filter: drop-shadow(0px 0px 4px #FF4000);
			filter: hue-rotate(30deg);
			transition: 0.25s;
		}
		transition: 0.25s;
	}
}

.playlist-action-button {
	.img-button-invert();
	margin: 0px;
	padding: 4px;
	img {
		// make it a bit darker
		filter: invert(100%) brightness(calc(160/255)); /* #A0A0A0 */
	}
}

.delete-playlist-button-full {
	border: none;
	margin: none;
	// position: absolute;
	// display: block;
	// display: inline;
	visibility: hidden;
	position: relative;
	top: 0;
	// bottom: 0;
	right: -100%;
	// right: 0;
	width: 0;
	height: 40px;
	align-self: stretch;
	// padding: 0px 8px 0px 8px;
	padding: 0;
	background-color: #FF0000;
	color: #FFFFFF;
	font-size: 12pt;
	transition-property: right, visibility, width;
	transition-duration: 0.25s;
	&:hover {
		background-color: #FF4040;
	}
}
